.App {
  text-align: center;
}


.container {
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: center;
  background: #3ad886;
  width:250px;

}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 35px;
}